.toggle_btn {
  position: relative;
  border: 1px solid black;
  padding: 2px;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  width: 39px;
  cursor: pointer;
  border-radius: 13px;
}
.toggle_btn > svg {
  transform: scale(0.9);
}

.toggle_btn > :nth-child(1) {
}

.toggle_btn > :nth-child(2) {
}
.btn_round {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--orange);
  display: inline-block;
  border: 1px saddlebrown;
  border-radius: 50%;
  /* right: 2px;
  left: 2px; */
  transition: 0.5s;
}
