:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
* {
  font-family: Gumela;
  font-size: 20px;
  font-weight: normal;
  /* box-sizing: border-box; */
}
body {
  margin: 0;
  padding: 0;
}
.App {
  padding: 0rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.btn {
  border: 1px solid var(--orange);
  border-radius: 24px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 26px;
  background-color: var(--orange);
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--orange);
  cursor: pointer;
}

@media (max-width: 480px) {
  .App {
    padding: 0rem 0.5rem;
  }
}
